.portfolio-card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.example-card {
    max-width: 400px;
}
  
#eye-header-image {
    background-image: url('/../assets/eyes.jpg');
    background-size: cover;
}

#navigators-header-image {
    background-image: url('/../assets/navigators.jpg');
    background-size: cover;
}
  